*
/*--nav var--*/

* {
    margin: 0;
    padding: 0;
}

.fullbody {
    background: #e8c4a0;
}

body {
    height: auto;
    font-size: 16px;
    font-family: 'Exo 2', sans-serif;
    background: #e8c4a0;
    color: rgb(0, 0, 0);
}

.header {
    text-align: center;
    color: white;
    background: #a8835d;;
}

.header a {
    padding: 30px 0 0;
    display: block;
    font-size: 48px;
    text-decoration: none;
    color: white;
    margin-top: 90px;
}

.header p {
    margin: 10px 0 40px 0;
    font-size: 18px;
}

@media only screen and (max-width : 1000px) {
    .stellarnav>ul>li>a {
        padding: 20px 23px;
    }
}

.header {
    text-align: center;
    display: grid;
    align-items: center;
    justify-items: center;
    line-height: 1.3;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 15px;
    line-height: 1.7;
}

/*--body--*/
.container {
    margin-left: auto;
    max-width: 900px;
    line-height: 1.3;
    background-color: #ffebd3;
    padding: 5px;
    margin-right: auto;
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom: 20px
}

.containera {
    line-height: 1.3;
    background-color: #ffebd3;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 15px;
    line-height: 1.7;
}

.containerb {
    border-radius: 10px;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 15px;
    line-height: 1.7;
}

.containerc {
    margin: 15px;
    display: flex;
    text-align: center;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    line-height: 1.7;
}

.content1 {
    line-height: 1.7;
    margin: 15px;
}

.content3 {
    display: flex;
  }

img {
    max-width: 100%;
    /* or max-width: 100%; */
    height: auto;
}

.img1 {
    height: 60px;
    margin-right: 25px;
    display: flex;
    margin-left: 25px
}

.img2 {
    height: 40px;
    margin-right: 10px;
    margin-left: 10px;
    display: flex
}

.img3 {
    height: 90px;
    margin-right: 10px;
    margin-left: 10px;
    display: flex
}

.img4 {
    height: 60px;
    min-width: 60px;
    min-height: 60px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px
}

.img5 {
    height: 30px
}

.img6 {
    height: 35px;
    display: flex;
    margin-left: 25px;
}

.img8 {
    width: 90%;
    height: auto;
    object-fit: cover;
    object-position: bottom;
    border-radius: 10px;
    max-width: 200px;
    display: block;
    float: left;
    margin-right: 20px;
    min-width: 125px
}

.img9 {
    height: 200px;
    margin: auto;
    display: flex;
    border-radius: 50px
}

.imagemapalarge,
.imgLogo,
.imgLogo2,
.img8,
.img9 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    min-width: 100px;
}

.imgLogo,
.imgLogo2 {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: bottom;
    border-radius: 10px;
    max-width: 500px;
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto
}

.imagemapalarge {
    max-width: 90%;
    height: auto;
    object-position: bottom;
    border-radius: 10px;
    max-width: 800px;
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto
}

.imagemapalarge,
.imgLogo,
.imgLogo2,
.img8,
.img9 {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#section-header {
    font-weight: 700;
    text-align: center;
    font-size: 24px;
    color: #fff;
    background: linear-gradient(-135deg, #8f6942, #f0cca8);
    box-shadow: 0 0 3px 1px;
    border-radius: 20px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
    max-width: -moz-fit-content;
    max-width: fit-content;
    max-height: -moz-fit-content;
    max-height: fit-content;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: nowrap;
    padding: 10px
}

#section-header:hover {
    background-color: #410101;
    box-shadow: 0 2px 0 #720101;
    box-shadow: 0 6px 0 #0e1a18;
    background: linear-gradient(-135deg,#f0cca8 ,#8f6942 );
}

p {
    font-size: 18px;
    margin-top: 25px;
    text-align: left;
}

p-5 {
    font-size: 18px;
    text-align: left;
    margin-left: 30px;
}

p2 {
    text-align: center;
}

h2 {
    text-align: center
}

h3 {
    text-align: center;
    margin-top: 30px
}

h4 {
    text-align: center
}


/*--contactos--*/
#buscar,
#button1 {
    color: #fff;
    background-color: maroon;
    border-radius: 10px;
    height: 50px;
    width: 200px;
    font-size: 20px;
    font-weight: 700;
    margin: 10px;
    display: flex;
    align-items: center;
}

#srchID {
    height: 50px;
    font-size: 20px;
}

.inputfield {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

select#srchID {
    background-color: #F5F5DC;
    color: #000;
    border-radius: 10px;
    height: 50px;
    width: 200px;
    font-size: 20px;
    font-weight: 700;
    margin: 10px;
    text-align: center;
}

.inputfielda {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}


.button1 {
    color: #fff;
    background-color: maroon;
    border-radius: 10px;
    height: 50px;
    width: 200px;
    font-size: 20px;
    font-weight: 700;
    margin: 10px;
    display: flex;
    align-items: center;

}

select#srchID {
    background-color: #95fefe;
    color: #000;
    border-radius: 10px;
    height: 50px;
    width: 200px;
    font-size: 20px;
    font-weight: 700;
    margin: 10px;
    text-align: center;
}

.inputfielda {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

table#myTable {
    max-width: 100%;
    min-width: -moz-available;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    display: inline-block;
    text-align: center;
    padding: 5px;
    position: relative;
    overflow-y: scroll !important;
    max-height: 350px;
}

.table.bg-white {
    margin: auto;
}

tr {
    background-color: #936a41;
}

table,
td {
    padding: 2px 20px;
    color: white;
    margin: 10px 0;
    border: solid 1px #fff;
    min-width: 175px;
    max-width: 300px;
    text-align: center;
}

#Reunion {
    height: 40px;
  }

#loader {
    border: 16px solid #f7ff32;
    border-radius: 50%;
    border-top: 16px solid #00f;
    border-bottom: 16px solid green;
    width: 70px;
    height: 70px;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
    visibility: hidden;
    margin: auto;
    margin: auto;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0)
    }

    100% {
        -webkit-transform: rotate(360deg)
    }
}

@keyframes spin {
    0% {
        transform: rotate(0)
    }

    100% {
        transform: rotate(360deg)
    }
}


/*--registros--*/
.container .form .inputfield {
    line-height: 1.3;
    background-color: #ffebd3;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    min-width: -moz-available;
}

.container .form .inputfield label {
    width: 200px;
    color: #757575;
    margin-right: 10px;
    font-size: 20px;
    text-align: center;
}

.container .form .inputfield .input,
.container .form .inputfield .textarea {
    outline: 0;
    order: 3px solid #00eaf2;
    font-size: 20px;
    padding: 8px 10px;
    border-radius: 3px;
    transition: all .3s ease;
    min-width: -moz-available;
}

.btn.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #08233b;
    display: flex;
    flex-direction: row-reverse;
    width: 300px;
    align-items: center;
    height: 50px;
    border-radius: 10px;
    margin: 5px;
    margin: auto;
    justify-content: flex-end;
    font-size: 14pt;
    font-weight: bold;
}

.btn.btn-primary:hover {
    background: rgb(0, 0, 0);
    color: #fff;
}

/*--desastre--*/
form.projects {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    font-weight: 600;
}

input[type="SUBMIT"],
option,
select {
    border-radius: 10px;
    font-size: 20px;
    height: 40px;
    border: none;
    outline: 0;
    transition: .3s;
    text-align: center;
    padding: 5px;
    margin: 5px;
    border-bottom: 2px solid #000000;
}

option,
select {
    background-color: #95fefe;
    color: rgb(0, 0, 0);
}

input[type="SUBMIT"]{

    background-color: #633000;
    color: #fff;
}

#no-more-tables {
    max-width: 100%;
    min-width: 200px;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    text-align: center;
    padding: 5px;
    font-size: 18px;
}

#no-more-tables td {
    background-color: #ffe2c6;
    color: #000;
    text-align: center;
    margin: auto;
}

#no-more-tables th {
    text-align: center;
}

#no-more-tables tr {
    background-color: #633000;
    color: #fff;
}

.no-more-tables tbody tr:last-of-type {
    border-bottom: 2px solid #633000
}


/*--territorio--*/
.buttons-area {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: space-around;
    flex-wrap: wrap;
}

#g1 {
    background-color: rgb(11, 121, 11);
}

#g2 {
    background-color: #ffff09;
    color: black;
}

#g3 {
    background-color: blue;
}

#g4 {
    background-color: red;
}

#g5 {
    background-color: rgb(255, 97, 2);
}

#g6 {
    background-color: rgb(1, 1, 1);
}

#g7 {
    background-color: rgb(188, 2, 255);
}

#g8 {
    background-color: rgb(52, 171, 255);
}

#g9 {
    background-color: #633000b0;
}

/*--recursos-video--*/
.main {
    overflow: hidden;
    height: 650px
}

.video-box {
    width: 100%;
    max-width: 320px;
    height: auto
}

.video video {
    height: 650px
}

.video {
    display: flex;
    justify-content: center;
}

.video iframe {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

@media only screen and (max-width: 480px) {
    video {
        width: 100%;
    }
}


/*--articulo--*/
.shop-item {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 30px;
    width: 150px;
    background-color: #91c7ec;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    align-content: stretch;
    display: flex;
}

.shop-item-title {
    display: block;
    width: auto;
    text-align: center;
    font-weight: 700;
    font-size: 1.5em;
    color: rgb(0, 0, 0);
    margin: 15px;
    padding: 7px
}

.shop-item-image {
    max-height: 260px;
    display: grid;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: column;
    justify-items: stretch;
    align-items: baseline;
    align-content: space-between;
    margin: auto;
    padding: 10px
}

.shop-item-details {
    display: block;
    align-items: center;
    padding: 5px;
    width: 100%
}

.shop-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around
}

.containerd {
    color: #000;
    border-radius: 10px;
    height: 50px;
    width: 200px;
    font-size: 20px;
    font-weight: 700;
    margin: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    align-content: space-between;
    flex-wrap: nowrap;
    flex-direction: column;
}


/*--precursorado--*/
#Direccion,
textarea#observaciones,
textarea#direccion,
#Observaciones {
    font-size: 24px;
    background-color: #95fefe;
    border-radius: 5px;
    max-width: 100%;
    position: relative;
    display: flex;
    width: -moz-available;
    width: -webkit-fill-available;
    margin-left: 10px;
}

.inputs {
    max-width: 100%;
    margin-bottom: 30px;
    margin-left: 10px;
    position: relative;
    margin-top: 30px
}

.content2 .inputs input {
    font-size: 20px;
    height: 40px;
    border: none;
    border-bottom: 2px solid #005691;
    outline: 0;
    font-size: 20px;
    transition: .3s;
    background-color: #95fefe;
    min-width: 300px;
}

.content2 .inputs input:focus {
    border-color: #14dcd2
}

.content2 .inputs label {
    position: absolute;
    bottom: 10px;
    left: 0;
    pointer-events: none;
    font-size: 24px;
    transition: .3s;
    color: #ff0404;
    padding-left: 5pt
}

.content2 .mb-3 label {
    pointer-events: none;
    font-size: 24px;
    transition: .3s;
    color: #0a9c1e;
    padding-left: 5pt;
    margin-left: 10px;
}

.content2 .inputs input:focus~label,
.content2 .inputs input:valid~label {
    transform: translateY(-28px);
    color: #0a9c1e
}

.form-check-input {
    font-size: 24px;
    margin-left: 10px;
    background-color: #95fefe;
    border-radius: 5px;
    margin-top: 20px;
    color: #000
}

.form-check-label {
    font-size: 25px
}

#Fecha,
#Nombre,
#Apellido,
#Mes,
input#telefono,
input#encargado,
input#id,
input#srchID,
input#nombre {
    font-size: 24px;
    background-color: #95fefe;
    border-radius: 5px;
    max-width: 100%;
    position: relative;
    display: flex;
    text-align: center;
    border: none;
    border-bottom: 2px solid #005691;
}

  /*--Tabla myTabla-Buscar--*/
input#srchID {
    display: none;
}

.louder-area {
    display: none;
  }
  /*--Tabla myTabla-Buscar--*/

.flechasRoja {
    background-color: red;
    font-size: 24px;
    margin-left: 10px;
    border-radius: 5px;
    color: #f5f6fa;
    height: 40px;
}

.flechasVerde {
    background-color: #3cff00;
    font-size: 24px;
    margin-left: 10px;
    border-radius: 5px;
    color: #000;
    height: 40px;
}

.flechas {
    background-color: #95fefe;
    font-size: 24px;
    margin-left: 10px;
    border-radius: 5px;
    color: #000;
    height: 40px;
}

.formulario__submit {
    display: block;
    width: fit-content;
    font-size: 25px;
    text-align: center;
    border: 2px solid #ff5f5f;
    box-shadow: 0 5px 0 #750000;
    -webkit-transition: all .2s ease-in-out;
    transition: all .5s ease-in-out;
    background: red;
    color: #f5f6fa;
    border-radius: 10px;
    padding: 10px;
    margin: auto;
    min-width: 200px;
}

#respuesta {
    width: 100%;
    height: 50px;
    margin: 5px;
    padding: 5px;
}

#respuesta.fail {
    color: red;
    font-size: 25px;
    text-align: center;
}

#respuesta.send {
    color: green;
    font-size: 25px;
    text-align: center;
}

/*--popup--*/
.button {
    font-size: 1em;
    padding: 10px;
    color: rgb(255, 255, 255);
    border: 2px solid #633000;
    border-radius: 20px/50px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
    background-color: #633000b0;
}

.button:hover {
    background: #070707;
    border: 2px solid #020202;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    margin: 70px auto;
    margin-top: 20%;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    border-radius: 50px;
    overflow-y: scroll !important;
    max-height: 350px;
}

.popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
}

.popup .close {
    position: absolute;
    top: 0px;
    right: 30px;
    transition: all 200ms;
    font-size: 50px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.popup .close:hover {
    color: #061bd8;
}

.popup .content {
    max-height: 30%;
    overflow: auto;
}

@media screen and (max-width: 700px) {
    .box {
        width: 70%;
    }

    .popup {
        width: 70%;
    }
}

/*-- Top arow button on style --*/
.button a{
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: #fff;
    background: #633000;
    padding: 7px 12px;;
    font-size: 18px;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.15);
  }

/*-- Login --*/
  iframe {
    border: none;
    width: 100%;
    height: 350px;
}

/*-- pastoreo modal--*/
.modal-content {
    margin-top: 100px;
}

/*-- horario auxiliar--*/
#no-more-tables1 {
    max-width: 100%;
    min-width: 200px;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    text-align: center;
}

#no-more-tables1 td {
    background-color: #ffe2c6;
    color: #000;
    text-align: center;
    margin: auto;
}

#no-more-tables1 th {
    text-align: center;
}

#no-more-tables1 tr {
    background-color: #03468c;
    color: #fff;
}

.no-more-tables1 tbody tr:last-of-type {
    border-bottom: 2px solid #03468c;
}

option,
select {
    background-color: #95fefe;
    color: rgb(0, 0, 0);
}

option,
select {
    border-radius: 10px;
    font-size: 20px;
    height: 40px;
    border: none;
    outline: 0;
    transition: .3s;
    text-align: center;
    margin: 5px;
    border-bottom: 2px solid #000000;
}

/*--popup--*/
.buttong {
    font-size: 1em;
    padding: 10px;
    color: rgb(0, 0, 0);
    border: 2px solid #001428;
    border-radius: 20px/50px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
    background-color: #f4fc04;
  }

.buttong:hover {
    background: #000000;
    border: 2px solid #020202;
    color: rgb(255, 255, 255);
}

.buttonh {
    font-size: 1em;
    padding: 10px;
    color: rgb(255, 255, 255);
    border: 2px solid #001428;
    border-radius: 20px/50px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
    background-color: #03468c;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttonh:hover {
    background: #070707;
    border: 2px solid #020202;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    margin: 70px auto;

    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    border-radius: 50px;
    overflow-y: scroll !important;
    max-height: 350px;
}

.popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
}

.popup .close {
    position: absolute;
    top: 0px;
    right: 30px;
    transition: all 200ms;
    font-size: 50px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.popup .close:hover {
    color: #061bd8;
}

.popup .content {
    max-height: 30%;
    overflow: auto;
}

@media screen and (max-width: 700px) {
    .box {
        width: 70%;
    }

    .popup {
        width: 70%;
    }
}
